 /*  */
body {
   padding-top: 10px;
   padding-bottom: 50px;
   background:rgb(114, 78, 148);    
}
.col-4 {
    padding-top: 100px;
    font-size: 40px;
}

img { 
    width:  900px;
    height: 700px;
}
container {
    margin-left: 75px;
}
h1 {
    padding-top: 30px;
    padding-bottom: 10px;    
}
h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

